*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    height: 100vh;
    font-family: "Familjen Grotesk", sans-serif;
    box-sizing: border-box;
    background-color: black;
    background-image: url(/starlink.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

ul{
    list-style-type: none;
}
.main_header{
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 30px;
}

.main_menu{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#logo a{
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 500;
    margin-right: 20px;
}

.main_menu ul{
    display: flex;
}
.main_menu ul li{
    margin-right: 20px;
}
.main_menu_right ul{
    width: 500px;
    display: flex;
    position: relative;
    left: 50px;
    
}
.main_menu_right ul li a{
    margin-right: 20px;
}
#check{
    display: none;
}
.btn_one{
    cursor: pointer;
    color: white;
    font-size: 14px;
    position: absolute;
    font-size: 14px;
    top: 53px;
    right: 180px;
    line-height: 20px;
}
.btn_two{
    color: white;
    position: absolute;
    font-size: 14px;
    top: 53px;
    right: 50px;
    line-height: 20px;
}

.sidebar_menu{
    position: fixed;
    top: 0px;
    right: -400px;
    background-color: black;
    width: 380px;
    height: 100vh;
    transition: all 0.5s linear;
}
.menu{
    padding: 55px;
    margin-top: 30px;
}
.menu li{
    margin-right:3px;
    padding: 13px 0px;
    text-align: end;
    border-bottom: 0.3px solid rgb(37, 34, 34);
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
}
#check:checked ~ .sidebar_menu{
    right: 0px;
}
#check:checked ~ .btn_one i{
    opacity: 1;
}
.menu li a:hover{
    color: rgb(100, 99, 99);
    transition: color 1s cubic-bezier(.25,1,.25,1);
}
.main_container{
    width: 80%;
    height:500px;
    box-sizing: border-box;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 75px;
    margin-bottom: 10px;
}
h4{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 160px;
}

.inbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input{
    box-sizing: border-box;
    padding: 20px;
    width: 380px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.1;
    box-shadow: 0 0 6px rgb(245, 243, 243);
}
button{
    border: none;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    color: black;
    font-weight: 200;
}